<p>Hola <%= @resource.email %>!</p>

<p>Se a solicitado un cambio de contrase単a. Haciendo click en el link de abajo podras hacerlo.</p>

<p><%= link_to 'Cambiar contrase単a', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu no solicitaste el cambio puedes ignorar este email.</p>
<p>Tu contrase単a no cambiara hasta que no hagas click en link de arriba y crees tu nueva contrase単a exitosamente, si crees que alguien esta intentado obtener tu informacion confidencial podemos ayudarte contactandote con un servicio de ciberseguridad para encontrar al atacante y salvar tu informacion.</p>
