 <!--footer start-->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 margin-b-30">
                        <h2>Haz saber nuestra causa</h2>
                        <ul class="list-inline clearfix">
                            <li><a href='#'><i class="fa fa-facebook-official"></i></a></li>
                            <li><a href='#'><i class="fa fa-twitter"></i></a></li>
                            <li><a href='#'><i class="fa fa-google-plus"></i></a></li>
                            <li><a href='#'><i class="fa fa-linkedin"></i></a></li>
                            <li><a href='#'><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div><!--col4 end-->
                     <div class="col-sm-4 margin-b-30">
                        <ul class="list-unstyled clearfix">
                            <li class="clearfix" style="padding-top:2em;">
                                <span><a href="#">Empleos</a></span>
                            </li>
                             <li class="clearfix">
                                <span><a href='#'>Noticias</a></span>
                            </li>
                             <li class="clearfix">
                                <span><a href="#">Startups</a></span>
                            </li>
                            <li class="clearfix">
                                <span><a href="#">Alianzas</a></span>
                            </li>
                        </ul>
                    </div><!--col4 end-->

                    <div class="col-sm-4 margin-b-30">
                        <h2>NOBLIFIN</h2>
                        <p>
                            Es un grupo de empresas sociales cuyo proposito es que se les de mayor prioridad el consumir de productos y servicios sociales en lugar de empresas con enfoque lucrativo. 
                        </p>
                        <div class="space-20"></div>
                    </div>
                </div><!--row end-->
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="footer-bottom">
                         <ul class="list-inline">
                            <li><a href='#'>Home</a></li>
                            <li><a href='#'>News</a></li>
                            <li><a href='#'>Help</a></li>
                            <li><a href='#'>Terms</a></li>
                            <li><a href='#'>Privacy</a></li>
                        </ul>
                        <span>&copy; Copyright 2016. NOBLIFIN</span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--footer end-->